body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-text {
    top: 1%;
    z-index: 4;
    color: white;
    position: fixed;
    margin-left: 4.5vh;
}

.main-img_first {
    top: -4%;
    z-index: 3;
    width: max-content;
    position: fixed;
    filter: drop-shadow(16px 4px 32px rgba(0, 0, 0, 0.75));
}

.main-title {
    z-index: 2;
    color: white;
    margin-top: 35%;
    position: fixed;
    font-size: 600px;
}

.main-img_second {
    top: -5vh;
    z-index: 1;
    position: fixed;
    width: max-content;
}

.footer {
    bottom: 0;
    z-index: 5;
    height: 100px;
    display: flex;
    width: inherit;
    padding: 0 10%;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    background: rgba(124, 123, 121, 0.5);
}

.footer hr {
    width: 50px;
    border: 1px solid white;
    background: white;
    transform: rotate(90deg);
}

.footer p {
    color: white;
    cursor: pointer;
}

.footer a {
    width: 10%;
}

.footer-logo {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .main-text {
        margin-left: 5vh;
    }

    .main-title {
        z-index: 2;
        color: white;
        margin-top: 50%;
        position: fixed;
        font-size: 200px;
    }

    .footer hr {
        display: none;
    }

    .footer p {
        display: none;
    }

    .footer a {
        width: 50%;
    }

    .footer-logo {
        width: 100%;
    }
}

@media screen and (min-width: 1700px) {
    .main-text {
        margin-left: 4vh;
    }

    .main-img_first {
        width: 125%;
    }

    .main-img_second {
        width: 125%;
    }
}